.App {
  text-align: center;
}
.form-title h1 {
  font-size: 3em;
  font-weight: normal;
}

input {
  padding: 0.3em 7em 0.3em 0px;
  margin: 1em;
}

button {
  text-align: center;
  padding: 5px 25px;
}